<div class="row">
   
        <div class=" col-4"></div>

        <div class="head4 col-4 container  mt-5 rounded-5 shadow-lg"><br>
            <div class="text-center">
                <!-- <img src="../../assets/images/bimagess.jpg" class="w-25 h-25"><br> -->
                <i class="bi bi-bank2"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-bank2"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
                </svg>
            </div><br>
            <h1 align="center">My Bank</h1><br>
            <!-- <h6 class="text-center">{{aim}}</h6><br> -->
            <!--property binding  -->
            <form [formGroup]="registerForm">
                <input formControlName="uname" type="text" placeholder="User Name"
                    class="form-control rounded-pill shadow-lg " id="usrname"><br>

                <div *ngIf="this.registerForm.get('uname')?.touched&&this.registerForm.get('uname')?.errors"
                    style="color:red;">Invalid User</div>

                <input formControlName="acno" type="text" [placeholder]="accounts"
                    class="form-control rounded-pill shadow-lg " id="accno"><br>

                <div *ngIf="this.registerForm.get('acno')?.touched&&this.registerForm.get('acno')?.errors"
                    style="color:red;">Invalid Accountnumber</div>

                <input formControlName="pswd" type="password" placeholder="Password"
                    class="form-control rounded-pill shadow-lg" id="pswd"><br>

                <div *ngIf="this.registerForm.get('pswd')?.touched&&this.registerForm.get('pswd')?.errors"
                    style="color:red;">Invalid Password</div>


                <div class="d-grid gap-2 col-6 mx-auto">

                    <button class="btn btn-primary rounded-pill shadow-lg" id="register" (click)="Register()"
                        type="button">Register</button>
                    <a class="text-center" style="text-decoration: none;" routerLink="">Sign in</a><br><br>
                </div>
            </form>
        </div>








        <!-- </div> -->
        <div class="col-4">

        </div>







    </div>
    